/* 네비바 하단 고정 밑 세로 길이 설정 */
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  text-align: center;
  background: #2a2a2a;
}
.header-nav-item {
  color: #fff !important;
  line-height: 45px;
  font-size: 18px;
  font-weight: 900;
}
.header-logo {
  font-size: 20px;
  margin-right: 10px;
}