/* 네비바 하단 고정 밑 세로 길이 설정 */
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  text-align: center;
  background: #584747;
}
.header-nav-item {
  color: white !important;
  line-height: 45px;
  font-size: 18px;
}
