.App {
  width: 100%;
  background-color: inherit;
  border: none;
}
.react-calendar__navigation {
  display: none; /* 네비게이션 숨김 */
}
.react-calendar__tile--hidden {
  display: none !important; /* 현재 주에 해당하지 않는 날짜 숨김 */
}
abbr {
  text-decoration: none; /* 밑줄 제거 */
}
.react-calendar__month-view__weekdays {
  margin-top: 15px; /* 요일 영역 위쪽 여백 */
  text-align: center; /* 요일 텍스트 가운데 정렬 */
}
.react-calendar__month-view__days > .react-calendar__tile {
  height: 30px; /* 날짜 셀 높이 조정 */
  border: 0px; /* 날짜 셀 테두리 제거 */
}